!!!
html
  head
    title= title || ''
    link(rel: 'stylesheet', href: '/css/global.css' )
    link(rel: 'shortcut icon', href: '/favicon.ico')

    -var css
    -if(css)
      -each file in css
        link(rel: 'stylesheet', href: '/css/' + file + '.css' )
  body
    #wrapper
      #sticky
        nav
          h1
            a(href: '/')= GLOBAL.APP_NAME
          a#login.button(href:'/public/users/login/')
            span login
        .clearer

        #content
          != flashMessages()
          != body

    #footer
      p
        a(href:'#') about us
        = " &raquo; "
        a(href:'#') contact us

  -var js
  -if(js)
    script(src: '/javascripts/vendor/jquery.js' )
    script(src: '/javascripts/global.js' )

    -each file in js
      script(src: '/javascripts/' + file + '.js' )
